.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.country-info {
  margin-bottom: 10px;
}

.days {
  border: 2px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  margin: 5px;
  padding: 5px;
  height: auto;
}

.day {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 243, 243);
  margin: 5px;
  border-radius: 5px;
}

.time {
  font-size: 13px;
}

.temp {
  font-size: 15px;
  font-weight: 500;
}
